
@using FramasVietNam.Common
@model FramasVietNam.Models.OEEMS.tblOEEMS_PercentCompleteList

@{
    var _lstOverView = (List<FramasVietNam.Models.OEEMS.tblOEEMS_Header>)ViewBag.lstOverView; 
    string _dtdate = mFunction.ToString(ViewBag.dtDateSearch);

}

@*Popup add*@
<style>
    .modal-dialog_new {
        width: 50%;
        height: 80%;
        margin: 10px auto;
    }
</style>
<div class="modal-dialog_new" id="AddComModal">

    @using (Html.BeginForm("OEEMSInputAddCom", "OEEMSOverView", FormMethod.Post, new { @id = "frmID" }))
    {
        @Html.AntiForgeryToken()
        <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
        <div style="overflow-x:auto;  background-color:white; padding:20px">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Add % Complete</h4>
            </div>
            <div class="modal-body">
                <input hidden="hidden" name="reservation" id="reservation" value="@ViewBag.dtDateSearch">

                <div class="form-group">
                    <div class="form-group" style="width: 80%;">
                        <table class="table table-bordered">
                            @if (_lstOverView != null)
                            {
                                foreach (var item_m in _lstOverView)
                                {
                                    <tr>
                                        <td style="width: 200px;"> @Html.Name("Date")</td>
                                        <td>
                                            <div class="input-group date" style="width: 70%;">
                                                <input hidden="hidden" name="OEEIDAddCom" id="OEEIDAddCom" value="@item_m.OEEID">
                                                @item_m.OEEDate.Value.ToString("MM/dd/yyyy")
                                            </div>
                                            <span class="text-danger"> @ViewBag.err</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">Project Name</td>
                                        <td>
                                            @item_m.tblProject.ProjectName
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">Component</td>
                                        <td>
                                            @item_m.tblComp.CompName
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text">Size</td>
                                        <td>
                                            @item_m.tblSize.SizeName
                                        </td>
                                    </tr>
                                    @*<tr>
                                        <td>
                                            <div class="input-group date" style="width: 100%;">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input hidden="hidden" name="OEEID" id="OEEID" value="@item_m.OEEID">
                                                <input style="width: 100%;" type="text" class="form-control pull-right" id="datepicker" name="datepicker" value="">
                                            </div>

                                        </td>
                                        <td>
                                            <input class="form-control pull-right" name="PercentCom" id="PercentCom">                                            
                                        </td>
                                        <td>
                                            
                                            <input class="fa fa-plus label-success btn-sm" type="button" id="addrow" />

                                           @Html.ActionLinkRole("Add", " ", "OEEMSInputAddComLoad", "OEEMSOverView", new { @class = "fa fa-plus label-success btn-sm" })
                                        </td>
                                    </tr>*@
                             }
                         }
                          </table>
                    </div>

                    <table id="tableworkpiece" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="15"></th>
                                <th>Mouth/Year</th>
                                <th>Week Of Year</th>
                                <th>Percent Complete</th>
                                <th hidden></th>
                                <th hidden></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.tblOEEMS_PercentComplete.Count; i++)
                            {
                            <tr>
                                <td></td>
                                <td>@Convert.ToDateTime(Model.tblOEEMS_PercentComplete[i].DateOfWeek).ToString("MM/yyyy")</td>
                                <td>@Html.DisplayFor(m => Model.tblOEEMS_PercentComplete[i].WeedOfYear)</td>
                                <td align="right">@Html.EditorFor(m => Model.tblOEEMS_PercentComplete[i].PercentCom)</td>
                                <td hidden="hidden">@Html.EditorFor(m => Model.tblOEEMS_PercentComplete[i].ID)</td>
                                <td hidden="hidden">@Html.EditorFor(m => Model.tblOEEMS_PercentComplete[i].WeedOfYear)</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                @*@Html.ButtonRoles("Save", Language.label("Save"), new { @class = "btn btn-success" })*@
                <button id="btnAddCom" hidden="hidden" name="btnAddCom"></button>

                <a id='b' href='#' class="btn btn-success" onClick="b_onClickAddCom()"> Save </a>

                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>

                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    }
</div>

<link rel="stylesheet" href="~/Content/adminlte/dist/css/AdminLTE.min.css">

<script>
    $(function () {
        //Initialize Select2 Elements
        $('.select2').select2()

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true,
        })

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        })
    })
</script>

<script type="text/javascript">
    function b_onClickAddCom() {
        debugger
        var r = confirm('Do you want to save?');
        if (r == true) {
            $("#btnAddCom").click();
        }    
    }
</script>
