@using FramasVietNam.Common
@{
    ViewData["Title"] = "FVN";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
    var _lstAspNetRolesForApp = (List<FramasVietNam.Models.UserManager.AspNetRolesForApp>)ViewBag.lstAspNetRolesForApp;

    int _Key = mFunction.ToInt(ViewBag.Key);
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript" charset="utf-8">
            window.onload = function () {
                alert("@Html.Raw(ViewBag.Message)");
            };
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="fa fa-fw fa-mail-reply" href="@Url.Action("Index","Function")"></a>
            @Language.label("Roles")
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @Language.label("Function")</a></li>
            <li class="active">@Language.label("Roles")</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" style="min-height:906px; margin:2px">

            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div style="margin-bottom:10px">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">@Language.label("Add")</button>
                    </div>
                </div>
            </div>

            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">@Language.label("List")</h3>
                    <div class="box-tools pull-right">
                        <ul class="pagination pagination-sm inline"></ul>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Language.label("Num")</th>
                                <th>@Language.label("Code")</th>
                                <th>@Language.label("Name")</th>
                                <th>@Language.label("Change")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (_lstAspNetRolesForApp != null)
                            {
                                int i = 1;
                                foreach (var item in _lstAspNetRolesForApp)
                                {
                                    <tr>
                                        <td class="text">@i</td>
                                        <td class="text">@item.Id</td>
                                        <td class="text">@item.Name</td>
                                        <!-- General tools such as edit or delete-->
                                        <td>
                                            @Html.ActionLinkRole("Edit", "OEEMSRoles", "OEEMSUserRoles", " ", "OEEMSRolesEdit/" + item.Id, "OEEMSUserRoles", new { @class = "fa fa-edit label-primary btn-sm" })
                                            @Html.ActionLinkRole("Delete", "OEEMSRoles", "OEEMSUserRoles", " ", "OEEMSRolesDel/" + item.Id, "OEEMSUserRoles", new { @class = "fa fa-trash label-danger btn-sm", @onclick = "return confirm('" + Language.label("AreYouSure") + "')" })
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
</div>


@*Popup add*@
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:azure">
            @using (Html.BeginForm("OEEMSRolesSave", "OEEMSUserRoles", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">@Language.label("Add")</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Language.label("Code")<code>(*)</code>
                        @Html.TextBox("Code", _Key, new { @class = "form-control", @placeholder = Language.label("Code"), @readonly = "true" })
                    </div>
                    <div class="form-group">
                        @Language.label("Name")<code>(*)</code>
                        @Html.TextBox("Name", null, new { @class = "form-control", @placeholder = Language.label("Name") })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    @Html.ButtonRoles("Save", "OEEMSRoles", "OEEMSUserRoles", Language.label("Save"), new { @class = "btn btn-success btn-sm" })
                </div>
                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                @*<ul class="todo-list">
                    <li style="background-color:azure">
                        <h2>@Language.label("Add")</h2>
                        <br />
                        @Language.label("Code") (*)
                        @Html.TextBox("Code", _Key, new { @class = "form-control", @placeholder = Language.label("Code"), @readonly = "true" })

                        @Language.label("Name") (*)
                        @Html.TextBox("Name", null, new { @class = "form-control", @placeholder = Language.label("Name") })
                        <br />
                        @Html.ButtonRoles("Save", "OEEMSRoles", "OEEMSUserRoles", Language.label("Save"), new { @class = "btn btn-success btn-sm" })
                    </li>
                </ul>*@
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    
