@using FramasVietNam.Common
@{
    Layout = "~/Views/Shared/_Adminlte.cshtml";
    var lstModule = (List<FramasVietNam.Models.Menu.Module>)ViewBag.lstModule;
    var lstLanguageModule = (List<FramasVietNam.Models.Menu.sys_Translation>)ViewBag.lstLanguageModule;
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript" charset="utf-8">
            window.onload = function () {
                alert("@Html.Raw(ViewBag.Message)");
            };
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="fa fa-fw fa-mail-reply" href="@Url.Action("Index","Function")"></a>
            @Language.label("Module")
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @Language.label("Administrator")</a></li>
            <li class="active">@Language.label("Module")</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" style="min-height:906px; margin:2px">

            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div style="margin-bottom:10px">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">@Language.label("Add")</button>
                    </div>
                </div>
            </div>

            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">@Language.label("List") @Language.label("Module")</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="Module" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 27px;">@Language.label("Num")</th>
                                <th>@Language.label("Code")</th>
                                <th>@Language.label("Name")</th>
                                <th>@Language.label("Description")</th>
                                <th>@Language.label("Change")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (lstModule != null)
                            {
                                int i = 1;
                                foreach (var item in lstModule)
                                {
                                    <tr>
                                        <td class="text">@i</td>
                                        <td class="text">@item.Code</td>
                                        <td class="text">@mFunction.ToString(lstLanguageModule.SingleOrDefault(m => m.NameID == item.ID).Title)</td>
                                        <td class="text">@mFunction.ToString(lstLanguageModule.SingleOrDefault(m => m.NameID == item.ID).Description)</td>
                                        <!-- General tools such as edit or delete-->
                                        <td>
                                            @Html.ActionLinkRole("Edit", "Module", "Administrator", " ", "ModuleEdit/" + item.ID, "Administrator", new { @class = "fa fa-edit label-primary btn-sm" })
                                            @Html.ActionLinkRole("Delete", "Module", "Administrator", " ", "ModuleDel/" + item.ID, "Administrator", new { @class = "fa fa-trash label-danger btn-sm", @onclick = "return confirm('" + Language.label("AreYouSure") + "')" })
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
</div>

@*Popup add*@
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:azure">
            @using (Html.BeginForm("ModuleSave", "Administrator", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">@Language.label("Add")</h4>
                </div>
                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                <div class="modal-body">
                    <div class="form-group">
                        @Language.label("Code")<code>(*)</code>
                        @Html.TextBox("Code", null, new { @class = "form-control", @placeholder = Language.label("Code") })
                    </div>
                    <div class="form-group">
                        @Language.label("Title") - @Language.label("English")<code>(*)</code>
                        @Html.TextBox("Title-EG", null, new { @class = "form-control", @placeholder = Language.label("Title") + "-EG" })
                    </div>
                    <div class="form-group">
                        @Language.label("Description") - @Language.label("English")
                        @Html.TextBox("Description-EG", null, new { @class = "form-control", @placeholder = Language.label("Description") + "-EG" })
                    </div>
                    <div class="form-group">
                        @Language.label("Title") - @Language.label("VietNam")<code>(*)</code>
                        @Html.TextBox("Title-VN", null, new { @class = "form-control", @placeholder = Language.label("Title") + "-VN" })
                    </div>
                    <div class="form-group">
                        @Language.label("Description") - @Language.label("VietNam")
                        @Html.TextBox("Title-VN", null, new { @class = "form-control", @placeholder = Language.label("Title") + "-VN" })
                    </div>
                    <div class="form-group">
                        @Language.label("Title") - @Language.label("Germany")<code>(*)</code>
                        @Html.TextBox("Title-GR", null, new { @class = "form-control", @placeholder = Language.label("Title") + "-GR" })
                    </div>
                    <div class="form-group">
                        @Language.label("Description") - @Language.label("Germany")
                        @Html.TextBox("Description-GR", null, new { @class = "form-control", @placeholder = Language.label("Description") + "-GR" })
                    </div>
                </div>
                @*<ul class="todo-list">
                        <li style="background-color:azure">
                            <h2>@Language.label("Add")</h2>
                            <br />
                            @Language.label("Code") (*)
                            @Html.TextBox("Code", null, new { @class = "form-control", @placeholder = Language.label("Code") })

                            @Language.label("Title") - @Language.label("English") (*)
                            @Html.TextBox("Title-EG", null, new { @class = "form-control", @placeholder = Language.label("Title") + "-EG" })

                            @Language.label("Description") - @Language.label("English")
                            @Html.TextBox("Description-EG", null, new { @class = "form-control", @placeholder = Language.label("Description") + "-EG" })

                            @Language.label("Title") - @Language.label("VietNam") (*)
                            @Html.TextBox("Title-VN", null, new { @class = "form-control", @placeholder = Language.label("Title") + "-VN" })

                            @Language.label("Description") - @Language.label("VietNam")
                            @Html.TextBox("Description-VN", null, new { @class = "form-control", @placeholder = Language.label("Description") + "-VN" })

                            @Language.label("Title") - @Language.label("Germany") (*)
                            @Html.TextBox("Title-GR", null, new { @class = "form-control", @placeholder = Language.label("Title") + "-GR" })

                            @Language.label("Description") - @Language.label("Germany")
                            @Html.TextBox("Description-GR", null, new { @class = "form-control", @placeholder = Language.label("Description") + "-GR" })
                            @Html.ButtonRoles("Save", "Module", "Administrator", Language.label("Save"), new { @class = "btn btn-success btn-sm" })
                        </li>
                    </ul>*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    @Html.ButtonRoles("Save", "Module", "Administrator", Language.label("Save"), new { @class = "btn btn-success btn-sm" })
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script type="text/javascript">
            $(document).ready(function () {
                $('#Module thead tr').clone(true).appendTo('#Module thead');
                $('#Module thead tr:eq(1) th').each(function (i) {
                   if (i > 0) {
                        var title = $(this).text();
                        if (title != "Change" && title != "Status") {
                            $(this).html('<input type="text"/>');

                            $('input', this).on('keyup change', function () {
                                if (table.column(i).search() !== this.value) {
                                    table
                                        .column(i)
                                        .search(this.value)
                                        .draw();
                                }
                            });
                        }
                        else {
                            $(this).html('');
                        }
                    }
                });

                var table = $('#Module').DataTable({
                    "displayLength": 25,
                    orderCellsTop: true,
                    fixedHeader: true,
                     'paging'      : true,
                   'lengthChange': false,
                   'searching'   : true,
                   'ordering'    : true,
                   'info'        : true,
                   'autoWidth'   : false
                });

                table.on('order.dt search.dt', function () {
                    table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            });
    </script>
}