@using FramasVietNam.Common
@{
    ViewData["Title"] = "FVN";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
    var lstUser = (List<FramasVietNam.Models.UserManager.sp_User_Get_Result>)ViewBag.lstUser;
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript" charset="utf-8">
            window.onload = function () {
                alert("@Html.Raw(ViewBag.Message)");
            };
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="fa fa-fw fa-mail-reply" href="@Url.Action("Index","Function")"></a>
            @Language.label("User") @Language.label("Roles")
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @Language.label("Function")</a></li>
            <li class="active">@Language.label("User") @Language.label("Roles")</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" style="min-height:906px; margin:2px">
            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">@Language.label("List") @Language.label("User")</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("DeptSave", "Administrator", FormMethod.Post))
                    {
                        <table id="UserRoles" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width:27px;">@Language.label("Num")</th>
                                    <th>@Language.label("User")</th>
                                    <th>@Language.label("Email")</th>
                                    <th>@Language.label("Name")</th>
                                    <th>@Language.label("Department")</th>
                                    <th>@Language.label("Edit")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (lstUser != null)
                                {
                                    int i = 1;
                                    foreach (var item in lstUser)
                                    {
                                        <tr>
                                            <td class="text">@i</td>
                                            <td class="text">@item.UserName</td>
                                            <td class="text">@item.Email</td>
                                            <td class="text">@item.TenNhanVien</td>
                                            <td class="text">@item.TenBoPhanA</td>
                                            <!-- General tools such as edit or delete-->
                                            <td>
                                                @Html.ActionLinkRole("Edit", "UserRoles", "Administrator", " ", "UserRolesEdit/" + item.UserName, "Administrator", new { @class = "fa fa-edit label-primary btn-sm" })
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
</div>

@section scripts{
<script>
            $(document).ready(function () {
                $('#UserRoles thead tr').clone(true).appendTo('#UserRoles thead');
                $('#UserRoles thead tr:eq(1) th').each(function (i) {
                   if (i > 0) {
                        var title = $(this).text();
                        if (title != "Change" && title != "Edit" && title != "Status") {
                            $(this).html('<input type="text"/>');

                            $('input', this).on('keyup change', function () {
                                if (table.column(i).search() !== this.value) {
                                    table
                                        .column(i)
                                        .search(this.value)
                                        .draw();
                                }
                            });
                        }
                        else {
                            $(this).html('');
                        }
                    }
                });

                var table = $('#UserRoles').DataTable({

                    "displayLength": 25,
                    orderCellsTop: true,
                    fixedHeader: true,
                     'paging'      : true,
                   'lengthChange': false,
                   'searching'   : true,
                   'ordering'    : true,
                   'info'        : true,
                   'autoWidth'   : false
                });

                table.on('order.dt search.dt', function () {
                    table.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            });
</script>
    }