@using FramasVietNam.Common
@model FramasVietNam.Models.Meal.CheckBoxList
@{
    ViewData["Title"] = "FVN";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
    var objUser = (FramasVietNam.Models.UserManager.sp_User_Get_Result)ViewBag.objUser;
    var lstRoles = (List<FramasVietNam.Models.UserManager.AspNetRole>)ViewBag.lstRoles;
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript" charset="utf-8">
            window.onload = function () {
                alert("@Html.Raw(ViewBag.Message)");
            };
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="fa fa-fw fa-mail-reply" href="@Url.Action("UserRoles","Administrator")"></a>
            @Language.label("Edit")
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @Language.label("UserRoles")</a></li>
            <li class="active">@Language.label("Edit")</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" style="min-height:906px; margin:2px">
            <!-- TO DO List -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("UserRolesEdit", "Administrator", FormMethod.Post))
                    {
                        <ul class="todo-list">
                            <li>
                                @Language.label("Code")
                                @Html.TextBox("Code", objUser.UserName, new { @class = "form-control", @placeholder = "Code", @readonly = "true" })
                            </li>
                            <li>
                                @Language.label("Name")
                                @Html.TextBox("Name", objUser.TenBoPhanA, new { @class = "form-control", @placeholder = "Name", @readonly = "true" })
                            </li>
                            <li>
                                <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                                <ul class="todo-list">
                                    @for (int i = 0; i < Model.CheckBox.Count; i++)
                                    {
                                        <li>
                                            <!-- drag handle -->
                                            <span class="handle">
                                                <i class="fa fa-ellipsis-v"></i>
                                                <i class="fa fa-ellipsis-v"></i>
                                            </span>
                                            <!-- checkbox -->
                                            @Html.CheckBoxFor(m => Model.CheckBox[i].IsChecked)
                                            <!-- todo text -->
                                            <span class="text">@Model.CheckBox[i].Code</span>
                                            @Html.HiddenFor(m => Model.CheckBox[i].Value)
                                            @Html.HiddenFor(m => Model.CheckBox[i].Code)
                                            @Html.HiddenFor(m => Model.CheckBox[i].Name)
                                        </li>
                                    }
                                </ul>
                            </li>

                            <li>
                                @Html.ButtonRoles("Save", "UserRoles", "Administrator", Language.label("Save"), new { @class = "btn btn-success btn-sm" })
                            </li>
                        </ul>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- TO DO List -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("UserRolesEditPass", "Administrator", FormMethod.Post))
                    {
                        <ul class="todo-list">
                            <li>
                                @Language.label("UserName")
                                @Html.TextBox("UserName", objUser.UserName, new { @class = "form-control", @placeholder = "Name", @readonly = "true" })
                            </li>                           
                            <li>
                                @Html.ButtonRoles("Save", "UserRoles", "Administrator", Language.label("ResetPasswordDefault"), new { @class = "btn btn-success btn-sm" })
                            </li>
                        </ul>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
</div>
