@using FramasVietNam.Common;
@using FramasVietNam.Models;


<div class="modal fade" id="FSComputerAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">@Language.label("Add")</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Language.label("Department")<code>(*)</code>
                            <select class="form-control select2" style="width: 100%;" id="select_DeptById" data-placeholder="Select a department">
                                <option value=""></option>
                                @if (ViewBag.AllDept != null)
                                {
                                    foreach (var item in ViewBag.AllDept)
                                    {
                                        <option value="@item.MaBoPhan1">@item.TenBoPhanA _ @item.TenBoPhan</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Language.label("User")<code>(*)</code>
                            <select class="form-control select2" style="width: 100%;" id="select_UserById" data-placeholder="select a user">
                                <option value=""></option>
                                @if (ViewBag.AllUser != null)
                                {
                                    foreach (var item in ViewBag.AllUser)
                                    {
                                        <option value="@item.MaSoNhanVien">@item.MaSoNhanVien _ @item.Ho @item.Ten</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <label>@Language.label("GradingTime") </label>
                        <input type='text' name="dtDateSearch" id='dtDateSearch' class="form-control" value="@DateTime.Now.ToString("MM/dd/yyyy")" />
                    </div>
                </div>
                <table class="ComputerAdd">
                    <tr>
                        <th style="width:27px;">Num</th>
                        <th style="width:600px;">Description</th>
                        <th>Mark in first time	</th>
                        <th>Factor</th>
                        <th>Note</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            "Máy tính có sạch sẽ, được bảo quản tốt và dán tem quản lý thiết bị không?
                            <p style="color: dodgerblue;">Is PC kept clean, in good condition and labled with "PC coding" label?"</p>

                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark1" name="Mark1" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor1">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note1" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;" value=""></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            "Màn hình desktop chỉ chứa các shortcut và chúng được sàng lọc và sắp xếp hợp lý không? (Không lưu file trên màn hình desktop)
                            <p style="color: dodgerblue;">
                                Is desktop screen is free of files and folders, just only shortcut stored and shortcuts are sorted and
                                set in order? (No file saved in desktop)
                            </p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark2" name="Mark2" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor2">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note2" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;" value=""> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            "Có lịch dọn rác máy tính và có xóa bỏ các tập tin, thư mục, email, chương trình,... cũ hoặc không cần thiết theo như lịch không?
                            Có chống phân mảng máy tính định kì không?
                            <p style="color: dodgerblue;">
                                Is there cleaning schedule for your PC? do you delete files, folders, emails and SWs that are no longer needed according to your schedule?
                                Do you defragment your PC periodically?"
                            </p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark3" name="Mark3" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor3">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note3" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            "Có đặt tên tập tin, thư mục theo đúng quy định của công ty không? (những file chỉ tạo 1 lần duy nhất; file nhạc, phim,…;
                            những thư mục không quan trọng thì không cần đặt tên theo qui định).
                            <p style="color: dodgerblue;">Are files, folders named follow company's rules? (exception: files that create 1 time or don't need to be distingushed with the others; music, video, and folders are not important)".</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark4" name="Mark4" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor4">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note4" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            "Các tập tin, thư mục có được lưu để dễ tim kiếm trong vòng 30 giây?
                            <p style="color: dodgerblue;">Are files, folders saved in a way that can be searched in 30sec?"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark5" name="Mark5" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor5">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note5" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            "Tất cả các tập tin, thư mục và mailbox có được hoàn toàn lưu và theo tác kết nối với server không? (Trừ những file tạm...)
                            <p style="color: dodgerblue;">Are all files, folders, mailbox fully stored in company server? (excluded temporally files)"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark6" name="Mark6" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor6">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note6" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            "Các tập tin thuộc danh mục tài liệu ISO có được mã hóa theo qui định không?
                            <p style="color: dodgerblue;">Are ISO files coded follow ISO rules?"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark7" name="Mark7" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor7">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note7" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>
                            "Các tập tin được tạo và lưu trong máy có liên quan đến công việc được giao không? (những file này được gọi là file lặp lại và thường được tạo ra hàng ngày, hàng tuần hoặc hàng tháng)
                            <p style="color: dodgerblue;">Is there job description for each job-related file? (These files are created repeatly daily/weekly or monthly)"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark8" name="Mark8" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor8">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control" id="Note8" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>
                            "Có tài liệu hướng dẫn sử dụng và diễn giải cách thức hoạt động cho các chương trình, tập tin tự xây dựng để phục vụ công việc không?
                            <p style="color: dodgerblue;">Is there written user's guidelines / SW descriptions for self-programmed SW or files?" NULL</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark9" name="Mark9" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor9">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note9" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>
                            "Không sử dụng bất kỳ phần mềm, tài liệu, nhạc, phim, ảnh vi phạm bản quyền nào. (Các file nhạc, phim không có bản quyền không được lưu trên public folders)
                            <p style="color: dodgerblue;">There is no softwares, documents, musics, videos, pictures violated the copyrights in your PC. (not allow no copyright musics, videos in public foldes)"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark10" name="Mark10" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor10">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note10" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>
                            "Máy tính có được cài đặt chương trình chống virus và spyware không?
                            <p style="color: dodgerblue;">Is your PC protected by anti-virus and anti-spyware SW?"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark11" name="Mark11" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor11">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note11" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>
                            "Có đặt mục tiêu cải thiện cho lần chấm kế tiếp không và có cải thiện không?
                            <p style="color: dodgerblue;">Are you actively involved in 5S scan and are you willing to improve by showing your problems and promise to improve?"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark12" name="Mark12" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor12">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note12" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>
                            "Cá nhân hoá bộ phần mêm Microsoft Office bằng cách thêm họ tên , phòng bàn và số điện thoại bàn
                            <p style="color: dodgerblue;">Personalize your copy of Microsoft Office by edit User name with your full name, department and extension phone number"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark13" name="Mark13" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor13">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note13" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>
                            "Chữ ký trong outlook phai đặt theo quy định công ty
                            <p style="color: dodgerblue;">Standard signature in Outlook"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="Mark14" name="Mark14" min="0" max="4" />
                        </td>
                        <td>
                            <select class="form-control" id="Factor14">
                                <option value="Extremely good (100%)">Extremely good (100%)> </option>
                                <option value="very good (75%) -1">very good (75%) -1 </option>
                                <option value="somewhat not good (50% ) -2">somewhat not good (50% ) -2 </option>
                                <option value="not so good (25% ) -3">not so good (25% ) -3 </option>
                                <option value="not at all good -4">not at all good -4 </option>
                            </select>
                        </td>
                        <td>
                            <textarea id="Note14" class="form-control" style="width: 100%; height: 100%; border: 1px solid #ced4da; border-radius: 0.25rem; resize: none;"> hothikieulan</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>
                            "Tổng điểm có thể đạt được
                            <p style="color: dodgerblue;">Reachable Score"</p>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="TotalScore" name="TotalScore" value="48" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <b>Resutls in %:</b>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="TotalPercent" name="TotalPercent" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                @Html.ButtonRoles("Save", "FSComputer", "FSComputer", @Language.label("Save"), new { @class = "btn btn-success", @onclick = "FSComputerAdd()" })
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //Call select2
        $('.select2').select2();
           $('#dtDateAdd').datepicker({
            autoclose: true
        });

        $('#select_DeptById.select2').on('select2:select', function () {
            var data = $("#select_DeptById.select2 option:selected").val();
            $("#select_UserById.select2").html("");
            $.ajax({
                type: "POST",
                url: "@(Url.Action("UserByDeptId", "FSComputer"))",
                content: "application/json; charset =utf-8",
                dataType: "json",
                data: {deptId:data},
                success: function (data) {
                    console.log(data);
                    $.each(data, function (key, value) {
                        $('#select_UserById.select2').append(
                            '<option value="' + value["MaSoNhanVien"] + '">' + value["Ho"] + " " + value["Ten"] + '</option>'
                     );
                    });
                  },
                error: function (xhr, textStatus, errorThrown) {
                   alert("@Language.label("OopsSomethingWentWrong")");
                    return false;
                }
            });
         });
    });
</script>


