@model FramasVietNam.Models.ChangePasswordViewModel
@using FramasVietNam.Common
@{
    ViewBag.Title = "Manage Language";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
    var ds_Language = (List<FramasVietNam.Models.Menu.sys_Language>)ViewBag.ds_Language;
    var HasPassword = ViewBag.HasPassword;
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript" charset="utf-8">
    window.onload = function () {
        alert("@Html.Raw(ViewBag.Message)");
    };
    </script>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="fa fa-fw fa-mail-reply" href="@Url.Action("Index","Manage")"></a>
            @Language.label("ChangePassword")
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @Language.label("Home")</a></li>
            <li class="active">@Language.label("Password")</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" style="min-height:906px; margin:2px">
            <!-- TO DO List -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <ul class="todo-list">
                            <li>
                                @Language.label("OldPassword") (*)
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </li>
                            <li>
                                @Language.label("NewPassword") (*)
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </li>
                            <li>
                                @Language.label("ConfirmnNewPassword") (*)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </li>
                            <li>
                                <input type="submit" value=@Language.label("Save") class="btn btn-block btn-primary btn-sm" style="max-width:100px" />
                            </li>
                        </ul>
                    }
                </div>
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>