@using FramasVietNam.Models
@using FramasVietNam.Common
@model LoginViewModel
@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @Language.label("ForgotPassword")
    </title>
    <link rel="stylesheet" href="~/Content/style.min.css">
    <link rel="stylesheet" href="~/Content/materialize.min.css">
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/js/materialize.min.js"></script>
</head>

<body class="bg-login">
    <div id="status" class="status"></div>
    <div class="fade">
        <div class="login fadeInLogin">
            <h4 class="title-login">
                @Language.label("ForgotPassword").ToUpper()
            </h4>
            <section id="loginForm">
                @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label(Language.label("Email"), new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@Language.label("Send")" class="btn btn-default" />
                        </div>
                        <div style="height:10px">
                        </div>               
                    </div>
                }
            </section>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</body>
</html>
