@using FramasVietNam.Common
@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @Language.label("ResetPasswordConfirmation")
    </title>
    <link rel="stylesheet" href="~/Content/style.min.css">
    <link rel="stylesheet" href="~/Content/materialize.min.css">
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/js/materialize.min.js"></script>
</head>

<body class="bg-login">
    <div id="status" class="status"></div>
    <div class="fade">
        <div class="login fadeInLogin">
            <section id="loginForm">
                <h6 class="title-login">
                    @Language.label("YourPasswordHasBeenReset"). @Language.label("Please") @Html.ActionLink(@Language.label("Login"), "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </h6>
            </section>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</body>
</html>