@using FramasVietNam.Common
@{
    ViewData["Title"] = "FVN";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
    var lstShortNews = (List<FramasVietNam.Models.Menu.sp_ShortNews_Get_Result>)ViewBag.lstShortNews;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <a class="fa fa-fw fa-mail-reply" href="@Url.Action("Index","Function")"></a>
            @Language.label("ShortNews")
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> @Language.label("Function")</a></li>
            <li class="active">@Language.label("ShortNews")</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" style="min-height:906px; margin:2px">

            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div style="margin-bottom:10px">
                        @*<a class="btn btn-primary" href="@Url.Action("ShortNewsAdd","Home")">@Language.label("Add")</a>*@
                        @Html.ActionLinkRole("Add", "ShortNews", "Home", Language.label("Add"), "ShortNewsAdd", "Home", new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">@Language.label("List")</h3>
                    <!-- /.to do something-->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div style="overflow-x:auto;">
                        @using (Html.BeginForm("Booking", "Booking", FormMethod.Post))
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>@Language.label("Num")</th>
                                        <th>@Language.label("Title")</th>
                                        <th>@Language.label("ShortContent")</th>
                                        <th>@Language.label("Date")</th>
                                        <th>@Language.label("Change")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstShortNews != null)
                                    {
                                        int i = 1;
                                        foreach (var item in lstShortNews)
                                        {
                                            <tr>
                                                <td class="text">@i</td>
                                                <td class="text">@item.Title</td>
                                                <td class="text">@item.Content</td>
                                                <td class="text">@mFunction.ToDateTime(item.DateAdd).ToString("MM/dd/yyyy HH:mm")</td>

                                                <!-- General tools such as edit or delete-->
                                                <td>
                                                    <a class="fa fa-edit label-primary btn-sm" href="@Url.Action("/"+ item.ID,"Home")"> </a>
                                                    <a class="fa fa-trash label-danger btn-sm" href="@Url.Action("/"+ item.ID,"Home")" onclick="return confirm('Are you sure?')"> </a>

                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        }

                        <!-- /.to do something-->
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
</div>

